<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../public/css/single-mode.css")
        title QUEST
    body
        //スマホだと上部に時間などがくるため
        header
        .status-container
            p.tag    Name:
                span.info-tx.name
            p.tag    HP:
                span.info-tx.hp
            p.tag    MP:
                span.info-tx.mp
        .mon-container
            p.mon-name-tx
            img.mon-img(src="../public/img/monsters/golem.png", alt="")
        .msg-container
            p.status-tx.one-tx
            p.status-tx.two-tx
            p.status-tx.three-tx
        .cmd-container
            .cmd-area
                ul.sub-cmd-magics
                    li.sub-cmd-magic.fire ファイア
                    li.sub-cmd-magic.thunder サンダー
                    li.sub-cmd-magic.quake クエイク
                    li.sub-cmd-magic.recovery ホイミ
                ul.sub-cmd-items
                    li.sub-cmd-item.herb やくそう
                    li.sub-cmd-item.stone いしころ
                    li.sub-cmd-item.medicine ひやく
            .cmd-area
                ul.cmd-list
                    li.cmd.attack(data-text="攻撃") こうげき
                    li.cmd.magic(data-text="魔法") まほう
                    li.cmd.tool(data-text="道具") どうぐ
                    li.cmd.run(data-text="逃げる") にげる
        #modal.modal
            .modal-content
                .modal-body
                    h1.modal-title Hello World
                    form.form-area
                    .rule-area
                        ul.rule-list
                            li.rule-tx ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入りま
                            li.rule-tx ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入りま
                            li.rule-tx ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入りま
                            li.rule-tx ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入りま
                    .btn-area
                        .btn-tx 次へ
        script(src="../public/js//singleB-gol.js"  type="module")
